zend_extension=xdebug.so

xdebug.mode=debug

xdebug.client_host=%HOST_IP%
# This is not the default port for xdebug3, so we change it to make it
# compliant with xdebug2 and phpstorm default settings
xdebug.client_port=9000

xdebug.idekey = PHPSTORM

; usually, you need a chrome/firefox extension to start xdebug (the extension will add a cookie).
; however, it's not really convenient (in my opinion !)
xdebug.start_with_request = yes
xdebug.discover_client_host = 0

; Do not display warnings "Could not connect"
xdebug.log_level = 0
